name: CI
'on':
  push:
    branches:
      - main
  pull_request: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install
        shell: bash
        working-directory: packages/server
        env:
          PORT: '7005'
        run: |
          npm ci
      - name: Build
        shell: bash
        working-directory: packages/server
        env:
          PORT: '7005'
        run: |
          npm run build
