name: CI
'on':
  push:
    branches:
      - main
    paths:
      - "packages/server/**"
      - ".github/workflows/ci.yml"
  pull_request: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install
        working-directory: packages/server
        run: npm install
      - name: Test
        working-directory: packages/server
        run: npm test
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install
        working-directory: packages/server
        run: npm install
      - name: Build
        working-directory: packages/server
        run: npm run build
